<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
        integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/js/all.min.js"
        integrity="sha512-yk7SvYYZqGS11tWcb6cyoKiwgrNBeCHC7RebrVa0QOySVjh6WjEjaBaBue+VvDBHEfAGa0Z8/b6+LhoGSeweaw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="" style="background-color: rgb(238, 238, 238);">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="card mb-4">
                    <h2 class="card-header text-center text-danger">Abdallah LODIANE</h2>
                    <img src="/img/20191124182931791.jpg" alt="Portrait of Abdallah Lodiane"
                        class="w-50 mx-auto d-block img-fluid rounded-circle">
                    <div class="card-body">
                        <!--
                        <p class="card-text lead">Lorem ipsum dolor sit amet, eam autem augue liberavisse ex, eu audire utroque voluptatibus eam, his congue lobortis quaestio id.</p>
                        <p class="card-text">Veniam efficiendi usu at. Mel nostrum copiosae delicatissimi id. Pri mazim elitr albucius ea</p>
-->
                        <blockquote class="blockquote text-center w-75 mx-auto">
                            <!--                            <p class="mb-8">Lorem ipsum dolor sit amet, eam autem augue liberavisse ex, eu audire utroque voluptatibus eam, his congue lobortis quaestio id.</p>-->
                            <footer class="blockquote-footer text-danger"><strong>INGÉNIEUR LOGICIEL FULL STACK</strong>
                            </footer>
                        </blockquote>
                        <h2 class="card-text text-center text-black-50">Ambitieux, Instinctif et Ouvert d’Esprit</h2>
                    </div>
                </div>
                <div class="card mb-4">
                    <h2 class="card-header text-center">Experience Professionelle</h2>
                    <div class="card-body">
                        <div class="media mb-2">
                            <i class="fas fa-network-wired fa-fw fa-3x text-danger mr-2"></i>
                            <div class="media-body">
                                <h3 class="h4 mb-1">Developpeur Full Stack</h3>
                                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                    <h5 class="mb-0 text-center">
                                        <a href="#0" class="text-danger">TECKLABS, Montréal &ndash; Canada</a>
                                    </h5>
                                    <small class="d-block text-uppercase font-weight-bold text-muted">
                                        <time datetime="27-07-2019">Fevrier 2021</time> &ndash;
                                        <time datetime="23-10-2019"> Present</time>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <p>
                            <ul>
                                <li class="card-text">
                                    <strong>Back-End</strong> : Entretien & Mise à jour des services backend avec 
                                    <strong class="text-primary font-weight-bolder">NodeJs ExpressJs</strong>
                                     et 
                                     <strong class="text-primary font-weight-bolder">MongoDB</strong>
                                </li>
                                <li class="card-text">
                                    <strong>Front-End</strong> : Entretien & Mise à jour du site <a href="http://sandagamontreal.com/annonces" target="_blank">Sandaga Montréal</a> avec 
                                    <strong class="text-primary font-weight-bolder">Angular</strong>
                                     et 
                                     <strong class="text-primary font-weight-bolder">Bootstrap</strong>
                                </li>
                                <li class="card-text">
                                    <strong>Tests</strong> : Écrire des tests pour les différentes fonctionnalités
                                </li>
                                <li class="card-text">
                                    <strong>Travaux secondaires</strong> : Facebook API, CronJob, MongoDB, …
                                </li>
                                <li class="card-text">
                                    <strong>Application Mobile</strong> : Création d'application mobile pour une Gestion de boutiques avec 
                                    <strong class="text-primary font-weight-bolder">Flutter NodeJs ExpressJs</strong>
                                     et 
                                     <strong class="text-primary font-weight-bolder">MongoDB</strong>
                                </li>
                            </ul>
                        </p>
                        <hr>
                        <div class="media mb-2">
                            <i class="fas fa-laptop-code fa-fw fa-3x text-danger mr-2"></i>
                            <div class="media-body">
                                <h3 class="h4 mb-1">Webmaster Bénévole</h3>
                                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                    <h5 class="mb-0 text-center">
                                        <a href="#0" class="text-danger">SENEDIASPORA, Dakar - Sénégal</a>
                                    </h5>
                                    <small class="d-block text-uppercase font-weight-bold text-muted">
                                        <time datetime="27-07-2019">Septembre 2020</time> &ndash;
                                        <time datetime="23-10-2019">Présent</time>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <p>
                            <ul>
                                <li class="card-text">
                                    <strong>Wordpress</strong> : Maintenance & Mise à jour du site <a href="https://senediaspora.net/" target="_blank">Senediaspora</a>
                                </li>
                                <li class="card-text">
                                    <strong>Page</strong> : Création & Modification
                                </li>
                                <li class="card-text">
                                    <strong>Theme</strong> : Installation & Mise à Jour
                                </li>
                                <li class="card-text">
                                    Configuration de base du référencement
                                </li>
                                <li class="card-text">
                                    Surveillance et rapports sur la sécurité du site
                                </li>
                            </ul>
                        </p>
                        <hr>
                        <div class="media mb-2">
                            <i class="fas fa-laptop-code fa-fw fa-3x text-danger mr-2"></i>
                            <div class="media-body">
                                <h3 class="h4 mb-1">Formateur en informatique et programmation, Bénévole</h3>
                                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                    <h5 class="mb-0 text-center">
                                        <a href="#0" class="text-danger">LYCÉE DE MBAO, Mbao, Dakar - Sénégal</a>
                                    </h5>
                                    <small class="d-block text-uppercase font-weight-bold text-muted">
                                        <time datetime="27-07-2019">Janvier 2021</time> &ndash;
                                        <time datetime="23-10-2019">Présent</time>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <p>
                            <ul>
                                <li class="card-text">Introduction des élèves aux vaste monde des <span class="text-primary font-weight-bolder">technologies informatiques</span> et à la <span class="text-primary font-weight-bolder">programmation</span>
                                    avec <span class="text-primary font-weight-bolder">Python</span></li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="card mb-4">
                    <h2 class="card-header text-center">Experience Académique</h2>
                    <div class="card-body">
                        <div class="media mb-2">
                            <i class="fas fa-network-wired fa-fw fa-3x text-danger mr-2"></i>
                            <div class="media-body">
                                <h3 class="h4 mb-1">Projets de Mémoire Licence</h3>
                                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                    <h5 class="mb-0 text-center">
                                        <a href="#0" class="text-danger">UCAD - TDSI</a>
                                    </h5>
                                    <small class="d-block text-uppercase font-weight-bold text-muted">
                                        <time datetime="27-07-2019">Octobre 2020</time> &ndash;
                                        <time datetime="23-10-2019">January 2021/time>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <p>
                            <ul>
                                <li class="card-text h5">
                                    <strong class="text-primary">Software Defined Network</strong>
                                     et 
                                     <strong class="text-primary">OpenFlow</strong>
                                </li>
                            </ul>
                        </p>
                        <div class="media mb-2">
                            <i class="fas fa-laptop-code fa-fw fa-3x text-danger mr-2"></i>
                            <div class="media-body">
                                <h3 class="h4 mb-1">Projets de développement Licence</h3>
                                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                    <h5 class="mb-0 text-center">
                                        <a href="#0" class="text-danger">UCAD - TDSI</a>
                                    </h5>
                                    <small class="d-block text-uppercase font-weight-bold text-muted">
                                        <time datetime="27-07-2019">December 2020</time> &ndash;
                                        <time datetime="23-10-2019">January 2021/time>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <p>
                            <ul>
                                <li class="card-text">Développement d'application web en PHP avec <span
                                        class="text-primary font-weight-bolder">Symfonfy</span>, <span class="text-primary font-weight-bolder">JavaScript</span> et <span class="text-primary font-weight-bolder">MySQL</span>
                                        &nbsp;<a href="https://github.com/Dev-Killer/gestion_stock">(Github)</a>
                                    </li>
                                <li class="card-text">Développement d'application web en JAVA avec 
                                    <span class="text-primary font-weight-bolder">JAVA EE</span> 
                                    <span class="text-primary font-weight-bolder">JavaScript</span>
                                     et 
                                     <span class="text-primary font-weight-bolder">MySQL</span>
                                    &nbsp;<a href="https://github.com/Dev-Killer/ColobaneOnline">(Github)</a>
                                </li>
                            </ul>
                        </p>
                        <div class="media mb-2">
                            <i class="fas fa-laptop-code fa-fw fa-3x text-danger mr-2"></i>
                            <div class="media-body">
                                <h3 class="h4 mb-1">Projet de fin d’année Universitaire 2</h3>
                                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                    <h5 class="mb-0 text-center">
                                        <a href="#0" class="text-danger">UCAD - TDSI</a>
                                    </h5>
                                    <small class="d-block text-uppercase font-weight-bold text-muted">
                                        <time datetime="27-07-2019">Juillet 2019</time> &ndash;
                                        <time datetime="23-10-2019">Octobre 2019</time>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <p>
                            <ul>
                                <li class="card-text">Développement de logiciel de gestion scolaire en <span class="text-primary font-weight-bolder">JAVA</span> et <span class="text-primary font-weight-bolder">MySQL</span></li>
                            </ul>
                        </p>
                        <hr />
                        <div class="collapse" id="collapseExp">
                            <div class="media mb-2">
                                <i class="fas fa-server fa-fw fa-3x text-danger mr-2"></i>
                                <div class="media-body">
                                    <h3 class="h4 mb-1">Exposés</h3>
                                    <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                        <h5 class="mb-0 text-center">
                                            <a href="#0" class="text-danger">UCAD - TDSI</a>
                                        </h5>
                                        <small class="d-block text-uppercase font-weight-bold text-muted">
                                            <time datetime="12-06-2018">Juin 2019</time>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <ul>
                                    <li class="card-text">Mise en place d’un <strong class="text-primary">réseau de PME</strong> avec simulation sur <strong class="text-primary">GNS3</strong></li>
                                    <li class="card-text font-weight-bolder">Orchestration avec <span class="text-primary">Ansible</span> et <span class="text-primary">Vagrant</span></li>
                                </ul>
                            </p>
                            <hr />
                            <div class="media mb-2">
                                <i class="fas fa-terminal fa-fw fa-3x text-danger mr-2"></i>
                                <div class="media-body">
                                    <h3 class="h4 mb-1">Présentation</h3>
                                    <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                        <h5 class="mb-0 text-center">
                                            <a href="#0" class="text-danger">Journée Linux Sénégal</a>
                                        </h5>
                                        <small class="d-block text-uppercase font-weight-bold text-muted">
                                            <time datetime="30-03-2019">Mars 2019</time>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <ul>
                                    <li class="card-text">Connexion à distance avec <strong class="text-primary">SSH</strong></li>
                                </ul>
                            </p>
                            <hr />
                            <div class="media mb-2">
                                <i class="fas fa-laptop-code fa-fw fa-3x text-danger mr-2"></i>
                                <div class="media-body">
                                    <h3 class="h4 mb-1">Projet de fin d’année Universitaire 1</h3>
                                    <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                        <h5 class="mb-0 text-center">
                                            <a href="#0" class="text-danger">UCAD - TDSI</a>
                                        </h5>
                                        <small class="d-block text-uppercase font-weight-bold text-muted">
                                            <time datetime="12-06-2018">Juin 2018</time> &ndash;
                                            <time datetime="17-10-2018">Octobre 2018</time>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <ul>
                                    <li class="card-text">
                                        Développement de logiciel de gestion de comptes bancaire en 
                                        <span class="text-primary font-weight-bolder">JAVA</span>
                                         et 
                                         <span class="text-primary font-weight-bolder">MySQL</span>
                                    </li>
                                    <li class="card-text">Développement de site web vitrine e-commerce 
                                        (<strong class="text-primary font-weight-bolder">HTML / CSS</strong>)</li>
                                </ul>
                            </p>
                            <hr />
                        </div>
                        <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="collapse"
                            data-target="#collapseExp" aria-expanded="false" aria-controls="collapseExp">Afficher
                            tous</button>
                    </div>
                </div>
                <div class="card mb-4">
                    <h2 class="card-header text-center">Etudes</h2>
                    <div class="card-body">
                        <div class="media mb-2">
                            <i class="fas fa-university fa-fw fa-3x text-danger mr-2"></i>
                            <div class="media-body">
                                <h3 class="h4 mb-1">Machine Learning Certification  (Cours Andrew Ng)</h3>
                                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                    <h5 class="mb-0 text-center">
                                        <a href="#0" class="text-danger">COURSERA - STANFORD UNIVERSITY</a>
                                    </h5>
                                    <small class="d-block text-uppercase font-weight-bold text-muted">
                                        <time datetime="12-06-2018">
                                            Janvier 2021</time> &ndash;
                                        <time datetime="17-10-2018">Mars 2021</time>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <p>
                            <ul>
                                <li class="card-text">Outil de calcul <strong class="text-primary">Octave / MatLab</strong></li>
                                <li class="card-text">Régression Linéaire (avec une et plusieurs variable) et Logistque (Régularisé et Non Régularisé)</li>
                                <li class="card-text">Réseaux de neurone</li>
                                <li class="card-text">Support Vector Machine (Machine à vecteur de support)</li>
                                <li class="card-text">Apprentissage non supervisé</li>
                                <li class="card-text">Réduction de dimension (dimensionality reduction)</li>
                                <li class="card-text">Analyse des composants principaux (principal component analysis)</li>
                                <li class="card-text">Détecion d'anomalie (anomaly Detection)</li>
                                <li class="card-text">Systémes de recommandation (Recommender Systems)</li>
                            </ul>
                        </p>
                        <hr />
                        <div class="media mb-2">
                            <i class="fas fa-university fa-fw fa-3x text-danger mr-2"></i>
                            <div class="media-body">
                                <h3 class="h4 mb-1">Licence</h3>
                                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                    <h5 class="mb-0 text-center">
                                        <a href="#0" class="text-danger">UCAD - TDSI</a>
                                    </h5>
                                    <small class="d-block text-uppercase font-weight-bold text-muted">
                                        <time datetime="12-06-2018">
                                            2017</time> &ndash;
                                        <time datetime="17-10-2018">2020</time>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <p>
                            <ul>
                                <li class="card-text">Mathématique</li>
                                <li class="card-text">Cryptographie</li>
                                <li class="card-text">Sécurité de l'information</li>
                            </ul>
                        </p>
                        <hr />
                        <div class="media mb-2">
                            <i class="fas fa-graduation-cap fa-fw fa-3x text-danger mr-2"></i>
                            <div class="media-body">
                                <h3 class="h4 mb-1">Baccalauréat</h3>
                                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                    <h5 class="mb-0 text-center">
                                        <a href="#0" class="text-danger">Lycée de Mbao</a>
                                    </h5>
                                    <small class="d-block text-uppercase font-weight-bold text-muted">
                                        <time datetime="30-03-2019">Juillet 2017</time>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <p>
                            <ul>
                                <li class="card-text">Baccalauréat S2 (Science Expérimentale)</li>
                            </ul>
                        </p>
                        <hr />
                        <div class="collapse" id="collapseEtu">
                            <div class="media mb-2">
                                <i class="fas fa-school fa-fw fa-3x text-danger mr-2"></i>
                                <div class="media-body">
                                    <h3 class="h4 mb-1">Etude secondaire</h3>
                                    <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                        <h5 class="mb-0 text-center">
                                            <a href="#0" class="text-danger">Lycée de Mbao</a>
                                        </h5>
                                        <small class="d-block text-uppercase font-weight-bold text-muted">
                                            <time datetime="12-06-2018">
                                                2014</time> &ndash;
                                            <time datetime="17-10-2018">2017</time>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <ul>
                                    <li class="card-text">Série S2 (Science Expérimentale)</li>
                                </ul>
                            </p>
                            <hr />
                            <div class="media mb-2">
                                <i class="fas fa-school fa-fw fa-3x text-danger mr-2"></i>
                                <div class="media-body">
                                    <h3 class="h4 mb-1">BFEM</h3>
                                    <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                        <h5 class="mb-0 text-center">
                                            <a href="#0" class="text-danger"> Groupe Scolaire Jupiter</a>
                                        </h5>
                                        <small class="d-block text-uppercase font-weight-bold text-muted">
                                            <time datetime="12-06-2018">Juillet 2014</time>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <ul>
                                    <li class="card-text">Brevet de Fin d’Étude Moyen</li>
                                </ul>
                            </p>
                            <hr />
                            <div class="media mb-2">
                                <i class="fas fa-school fa-fw fa-3x text-danger mr-2"></i>
                                <div class="media-body">
                                    <h3 class="h4 mb-1">CFEE</h3>
                                    <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                        <h5 class="mb-0 text-center">
                                            <a href="#0" class="text-danger">École Élémentaire Mour Seck</a>
                                        </h5>
                                        <small class="d-block text-uppercase font-weight-bold text-muted">
                                            <time datetime="23-10-2019">Août 2019</time>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <ul>
                                    <li class="card-text">Certificat de Fin d’Étude Élémentaire</li>
                                </ul>
                            </p>
                            <hr />
                        </div>
                        <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="collapse"
                            data-target="#collapseEtu" aria-expanded="false" aria-controls="collapseEtu">Afficher
                            tous</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card mb-4">
                    <h2 class="card-header text-center">Info Contact</h2>
                    <div class="card-body">
                        <div class="media">
                            <div class="fa-layers fa-fw fa-2x mr-3">
                                <i class="fas fa-circle text-danger"></i>
                                <i class="fas fa-male text-white" data-fa-transform="shrink-6"></i>
                            </div>
                            <div class="media-body">
                                Abdallah LODIANE
                                <hr>
                            </div>
                        </div>
                        <div class="media">
                            <div class="fa-layers fa-fw fa-2x mr-3">
                                <i class="fas fa-circle text-danger"></i>
                                <i class="fas fa-calendar-alt text-white" data-fa-transform="shrink-8"></i>
                            </div>
                            <div class="media-body">
                                <time datetime="1998-01-02">02 Janvier 1998</time>
                                <hr>
                            </div>
                        </div>
                        <div class="media">
                            <div class="fa-layers fa-fw fa-2x mr-3">
                                <i class="fas fa-circle text-danger"></i>
                                <i class="fas fa-phone-alt text-white" data-fa-transform="shrink-8"></i>
                            </div>
                            <ul class="media-body list-unstyled">
                                <li><a href="tel:+221776986780" class="text-danger">(+221)-77-698-67-80</a></li>
                                <li><i class="fab fa-fw fa-whatsapp text-muted"></i><a href="#0"
                                        class="text-danger">WhatsApp</a></li>
                                <li>
                                    <hr>
                                </li>
                            </ul>
                        </div>
                        <div class="media">
                            <div class="fa-layers fa-fw fa-2x mr-3">
                                <i class="fas fa-circle text-danger"></i>
                                <i class="fas fa-envelope text-white" data-fa-transform="shrink-8"></i>
                            </div>
                            <ul class="media-body list-unstyled">
                                <li><a href="mailto:lodianea98@gmail.com" class="text-danger">lodianea98@gmail.com</a>
                                </li>
                                <li><i class="fab fa-fw fa-linkedin text-muted"></i><a href="#0"
                                        class="text-danger">LinkedIn</a></li>
                                <li>
                                    <hr>
                                </li>
                            </ul>
                        </div>
                        <div class="media">
                            <div class="fa-layers fa-fw fa-2x mr-3">
                                <i class="fas fa-circle text-danger"></i>
                                <i class="fas fa-home text-white" data-fa-transform="shrink-8"></i>
                            </div>
                            <div class="media-body">
                                <address class="mb-8">
                                    Mbao, Ab Gokh Villa n°53<br>
                                    Dakar – Pikine<br>
                                    Sénégal
                                </address>
                            </div>
                        </div>
                        <div class="media">
                            <div class="fa-layers fa-fw fa-2x mr-3">
                                <i class="fas fa-circle text-danger"></i>
                                <i class="fas fa-at text-white" data-fa-transform="shrink-8"></i>
                            </div>
                            <div class="media-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="Nom">Nom</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nom" aria-label="Nom"
                                        aria-describedby="Nom">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="Email">Email</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                                        aria-describedby="Email">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="message"><i
                                                class="fas fa-pencil-alt"></i></span>
                                    </div>
                                    <textarea name="message" class="form-control" placeholder="Votre message"
                                        aria-label="Votre message" aria-describedby="message" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-sm btn-danger">Envoyer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <h2 class="card-header text-center">Compétences</h2>
                    <div class="card-body">
                        <div class="mb-3">
                            <h4 class="h6 text-muted"><span><i class="fas fa-fw fa-language 2x"></i> </span> Français
                            </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped"
                                    role="progressbar progress-bar-animated" style="width: 90%">90 %</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h4 class="h6 text-muted"><span><i class="fas fa-fw fa-language 2x"></i> </span> Anglais
                            </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 70%">70 %</div>
                            </div>
                        </div>
                        <h4 class="h6 text-muted"><span><i class="fas fa-fw fa-code 2x"></i> </span> Algorithme
                        </h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                role="progressbar" style="width: 85%">85 %</div>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <h3 class="h4 mb-3">Framwork</h3>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-angular 2x"></i> </span> Angular - JavaScript </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 80%">80 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-react 2x"></i> </span>ReatcJS - JavaScript</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 65%">65 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-vuejs 2x"></i> </span> VueJS</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 40%">40 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><span class="iconify-inline" data-icon="cib:flutter"></span>&nbsp; </span> Flutter - Dart </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 75%">75 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-bootstrap 2x"></i> </span> Bootstrap - CSS
                            </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 85%">85 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><span class="iconify-inline" data-icon="simple-icons:express"></span>&nbsp; </span> ExpressJS - JavaScript </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 90%">90 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><span class="iconify-inline" data-icon="simple-icons:fastify"></span>&nbsp; </span> FastifyJS - JavaScript </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 70%">70 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><span class="iconify-inline" data-icon="file-icons:flask"></span>&nbsp; </span>Flask - Python</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 50%">50 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><span class="iconify-inline" data-icon="simple-icons:django"></span>&nbsp; </span>Django - Pyhton</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 50%">50 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-java 2x"></i> </span> JAVA EE - JAVA</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 40%">40 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-symfony 2x"></i> </span> Symfony</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 35%">35 %</div>
                            </div>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <h3 class="h4 mb-3">Programmation</h3>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-js-square 2x"></i> </span> JavaScript
                            </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 90%">90 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-python 2x"></i> </span> Python</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 75%">70 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-java 2x"></i> </span> JAVA</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 80%">75 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-php 2x"></i> </span> PHP
                            </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 50%">50 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-cuttlefish 2x"></i> </span> Language
                                C </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 30%">30 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><span class="iconify-inline" data-icon="teenyicons:c-sharp-solid"></span>&nbsp; </span> C#</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 30%">30 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fas fa-fw fa-terminal 2x"></i> </span> Bash Scripting</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 20%">20 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-html5 2x"></i> </span> HTML </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 80%">80 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-css3-alt 2x"></i> </span> CSS</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 80%">80 %</div>
                            </div>
                            <hr>
                        </div>
                        <div class="mb-3">
                            <h3 class="h4 mb-3">Réseau</h3>
                            <h4 class="h6 text-muted"><span><i class="fas fa-fw fa-network-wired 2x"></i> </span> Configuration appliance</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated "
                                    role="progressbar" style="width: 70%">70 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fas fa-route"></i> </span> Routage</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated "
                                    role="progressbar" style="width: 70%">65 %</div>
                            </div>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <h3 class="h4 mb-3">Base de Données</h3>
                            <h4 class="h6 text-muted"><span><span class="iconify-inline" data-icon="simple-icons:mongodb"></span>&nbsp; </span> MongoDB</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped  progress-bar-animated"
                                    role="progressbar" style="width: 55%">55 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fas fa-fw fa-database 2x"></i> </span> MySQL</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped  progress-bar-animated"
                                    role="progressbar" style="width: 70%">70 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><span class="iconify-inline" data-icon="cib:firebase"></span>&nbsp; </span> Firebase</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped  progress-bar-animated"
                                    role="progressbar" style="width: 55%">55 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><span class="iconify-inline" data-icon="cib:oracle"></span>&nbsp; </span> Oracle</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped  progress-bar-animated"
                                    role="progressbar" style="width: 30%">30 %</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h3 class="h4 mb-3">Content Management System</h3>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-wordpress 2x"></i> </span> WordPress
                            </h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 80%">70 %</div>
                            </div>
                            <h4 class="h6 text-muted"><span><i class="fab fa-fw fa-joomla 2x"></i> </span> Joomla</h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
                                    role="progressbar" style="width: 40%">40 %</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../JavaScript/study/Jquery/jquery-3.4.1.js"></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
</body>

</html>